<head>
  <link rel="stylesheet" href="/amazon.bootstrap.css">

  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
</head>

<div class="logo">
  <div class="container">
  <img src="http://s18.postimg.org/61z0hpf7t/logo.png">
  </div>
</div>

<div class="nav"> 
	<div class="container">
		<ul class="nav nav-pills pull-left">

  		<li><a href="/products">Home</a></li>
  		<li><a href="/products/new/">Add New Product</a></li>
    </ul>
    <ul class="nav nav-pills pull-right">
  		<li><a href="/sessions/new/">Log In</a></li>
  		<li><a href="/users/new/">Sign Up</a></li>
  	</ul>
	</div>
</div>

<div class="showproducts">
<div class="container">
<h1>Log in</h1>

<%= form_tag sessions_path do %>
  <div class="field">
    <%= label_tag :email %><br/>
    <%= text_field_tag :email, params[:email] %>
  </div>
  <div class="field">
    <%= label_tag :password %><br/>
    <%= password_field_tag :password %>
  </div>
  <div class="actions"><%= submit_tag "Log in" %></div>
<% end %>

</div>
</div>