<head>
  <link rel="stylesheet" href="/amazon.bootstrap.css">

  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
</head>

<div class="logo">
  <div class="container">
  <img src="http://s18.postimg.org/61z0hpf7t/logo.png">
  </div>
</div>

<div class="nav"> 
  <div class="container">
    <ul class="nav nav-pills pull-left">

      <li><a href="/products">Home</a></li>
      <li><a href="/products/new/">Add New Product</a></li>
    </ul>
    <ul class="nav nav-pills pull-right">
      <li><a href="/sessions/new/">Log In</a></li>
      <li><a href="/users/new/">Sign Up</a></li>
    </ul>
  </div>
</div>

<h1>Sign Up</h1>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %><br/>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br/>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br/>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br/>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions"><%= f.submit %></div>
<% end %>