<head>
  <link rel="stylesheet" href="/amazon.bootstrap.css">

  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
</head>

<div class="logo">
  <div class="container">
  <img src="http://s18.postimg.org/61z0hpf7t/logo.png">
  </div>
</div>

<div class="nav"> 
	<div class="container">
		<ul class="nav nav-pills pull-left">

  		<li><a href="/products">Home</a></li>
  		<li><a href="/products/new/">Add New Product</a></li>
    </ul>
    <ul class="nav nav-pills pull-right">
  		<li><a href="/sessions/new/">Log In</a></li>
  		<li><a href="/users/new/">Sign Up</a></li>
  	</ul>
	</div>
</div>

<div class="jumbotron">                
  <div class="container">

    <h1>Outstanding New Novels </h1>
    <p>From mystery & suspense to drama & romance, there's best sellers for every category</p>
    <a href="#">View Products</a>
  </div>
</div> 
<br>
<div class="products">
  <div class="container">
  <table class="table table-bordered">
    <thead>
      <tr>
      	<th>Title</th>
      	<th>Author</th>
        <th>Cover</th>
        <th>Price</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
      <% @products.each do |product| %>
    		<td><%= product.title %></td>
    		<td><%= product.author %></td>
    		<td><%= image_tag product.url, :size => "75x100" %></td>		
    		<td>$<%= product.price_in_cents %></td>
    		<td><%= product.description %></td>
    		<td><%= link_to 'Show', product %></td>
    		<td><%= link_to 'Edit', edit_product_path(product) %></td>
    		<td><%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>


</body>
</html>
<br>
<hr>
